body {
    /* background-color: chartreuse; */
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
    margin: -9px;
    color: brown;
    text-shadow: 8px 8px 10px #0000008c;
    /* background-color: #258bf1; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}
h1,h2,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
p{
    color: azure;
}
h1 + p { margin-top: -30px; }
h2 + p { margin-top: -25px; }
p + p { margin-top: -25px; }
img {
    width: auto;
    height: auto;
    border-radius: 1em;
    border: 3px solid #f2f5f4;
    width: 10em;
    margin: -18px;
    background-color: #000000;
}

.pizza {
    margin: 0.5em;
    padding: 1em;
    /* border-radius: 1em;
    border: 1px solid #f2f5f4; */
    flex:1;
width: 46%;
    
}
.moon{
    margin-top:0.5em;
    margin-bottom: 0.6;
    width: 370px;
}

@media(min-width: 650px){
    .moon{
        display: flex;
        

    
    }
}
.sun {
    text-align: center;
}
.base{
    image-resolution: 1em;
}
.noki{
    margin: -10px;
    padding: 1em;
    /* border-radius: 1em; */
    /* border: 1px solid #f2f5f4; */
    text-align: justify;
    width: 370px;
}
1 https://media.istockphoto.com/id/1494273340/photo/pizza-with-pepperoni-arugula-ketchup-tomatoes-and-cheese-in-a-plate-on-a-white-background.jpg?s=1024x1024&w=is&k=20&c=gqs70lkq_YRSX4lnAyjNoUZXiYY_5Nr3uwcy5XIZe6M=
2 https://media.istockphoto.com/id/694149136/photo/delicious-salami-and-sausage-pizza.jpg?s=612x612&w=0&k=20&c=p_4w1JnMa97QGTzKb-gjOxGSyTpeuiQaupithJ9bnJI=
3 https://media.istockphoto.com/id/934336802/photo/pizza-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=6v5sPI7lgGg3fbxc80s8vllku9Hu874uBl5Bhk6GRH8=
4 https://media.istockphoto.com/id/1098437524/photo/isolated-image-of-a-pizza-with-jalapeno-on-a-white-background.jpg?s=612x612&w=0&k=20&c=AFOEyxQAYJKpCFdQrPZqDehC-2nnDZq-uUOm3BON3vg=
https://media.istockphoto.com/id/818835460/photo/pizza-pepperoni.jpg?s=612x612&w=0&k=20&c=c4F0rNic8Vs_aDrTzrTvlxsbZNxogmXfyDHmcjAVSQ4=